<h1>Questions</h1>
<table>
    <% @questions.each do |question| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
		  <td class="list_description">
			  <dl> 
				  <dd style="font-weight: bold"><%= question.stem %></dd> <br/>
				  <dd><%= question.option_a %></dd><br/>
				  <dd><%= question.option_b %></dd><br/>
				  <dd><%= question.option_c %></dd><br/>
				  <dd><%= question.option_d %></dd><br/>
				  <dd><%= question.option_e %></dd><br/>
				  <dd><%= question.answer %></dd>
			  </dl>
		  </td>
		  
		  <td class="list_actions">
        	  <%= link_to 'Show', question %><br/>
        	  <%= link_to 'Edit', edit_question_path(question) %><br/>
        	  <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
      	  </td>
	  </tr>
    <% end %>
    </table>
    <br />

<%= link_to 'New Question', new_question_path %>