<p>
	There are <%= @questions.length %> questions that match your search.
</p>
<table>
    <% @questions.each do |question| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
		  <td class="list_description">
			  <h4> <%= question.stem %></h4>
			  <ul>
				  <li><%= question.option_a%></li>
				  <li><%= question.option_b%></li>
				  <li><%= question.option_c%></li>
				  <li><%= question.option_d%></li>
				  <li><%= question.option_e%></li>
			  </ul>
				  
				  <dd><%= form_tag "/check_answer/#{question.id}", :method => 'get' do%>
			  		<%= text_field_tag :response, params[:response], :maxlength => 1  %>
			  		<%= submit_tag "Check Answer", :name => nil %>
			  	<% end %>
				  
				  
				  </dd>

			  </dl>
		  </td>
		  
		  <td class="list_actions">
        	  <%= link_to 'Show', question %><br/>
        	  <%= link_to 'Edit', edit_question_path(question) %><br/>
        	  <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
      	  </td>
	  </tr>
    <% end %>
    </table>
    <br />

<%= link_to 'New Question', new_question_path %>