<% title "Questions" %>

<div class="questions">
  <h1>
    <%= @questions.length %> questions match your search.
  </h1>
  
  <% @questions.each do |question| %>
    <% if question.exam %>
      <button class="btn btn-danger" type="button"> <%= question.exam  %> </button>
      <%= render partial: "topic", collection: question.topics  %>
    <% end %>

    <p> <%= question.stem %> </p>
    
  	<% unless question.image.blank? %>
      <div class="graphics"> <%= image_tag(question.image) %> </div>
    <% end %>

    <ul>
      <li> <%= question.option_a %> </li>
      <li> <%= question.option_b %> </li>
      <li> <%= question.option_c %> </li>
      <li> <%= question.option_d %> </li>
      <li> <%= question.option_e %> </li>
    </ul>
    
    <!--
    <div class="list_actions">
      <%= link_to 'Show', question %>
      <%= external_link_to 'Edit', edit_question_path(question) %>
      <%= external_link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= external_link_to 'New', new_question_path %>
    </div>
    -->
      
    <br>
    
    <a class="btn btn-info" data-placement="right" data-toggle="tooltip" data-trigger="hover click" href="#"      title="<%= question.answer.upcase %>"> Reveal answer  
    </a>
    <br><br>
    <hr>
  	
  <% end %>

  <script>
    $('.btn-info').tooltip();
  </script>
</div>
