- title "10 Random Questions"
.questions
  %p
  - @questions.each do |question|
    .resources
      - unless question.exam.nil?
        %button.btn.btn-danger{type: "button"}= question.exam 
        = render partial: "topic", collection: question.topics 
    %ul
      %li
        = question.stem
    - unless question.image.blank?
      .image
        = image_tag(question.image)
    .choices
      %ul
        %li= question.option_a
        %li= question.option_b
        %li= question.option_c
        %li= question.option_d
        %li= question.option_e
    .left
      %a.btn.btn-info{"data-placement" => "right", "data-toggle" => "tooltip", "data-trigger" => "hover click", href: "#", title: question.answer.upcase}
        Reveal answer  
    -# .list_actions
      -# = link_to 'Show', question
      -# = external_link_to 'Edit', edit_question_path(question)
      -# = link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }
  /
    <haml_loud> link_to 'New Question', new_question_path </haml_loud>
  / javascript
  :javascript
    $('.btn-info').tooltip();