<p id="notice"><%= notice %></p>

<ul style = "font-size: 2em">
<li>
  <strong>Stem:</strong>
  <%= @question.stem %>
</li>

<li>
  <strong>Option A:</strong>
  <%= @question.option_a %>
</li>

<li>
  <strong>Option B:</strong>
  <%= @question.option_b %>
</li>

<li>
  <strong>Option C:</strong>
  <%= @question.option_c %>
</li>

<li>
  <strong>Option D:</strong>
  <%= @question.option_d %>
</li>

<li>
  <strong>Option E:</strong>
  <%= @question.option_e %>
</li>

<li>
  <strong>Answer:</strong>
  <%= @question.answer %>
</li>

<li>
  <strong>Topic:</strong>
  <%= @question.topic %>
</li>
</ul>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
