<% title "U.S. Anesthesiologists" %>
<div class = "sites">
  <h1> <%= yield(:title) %> </h1>
  <p> US Anesthesiologists are publicly listed in the <%= external_link_to "Physican Compare datasets", @datasets %> at 
    <%= external_link_to "Data.Medicare.gov", @medicare %> </p>
</div>

<div class = "providers">
  
  <%= form_tag(providers_path, :method => "get", :class => "form-horizontal") do %>
   
    <%= label_tag "last", "Last Name: "%>
      <%= text_field_tag :last, params[:last], placeholder: "Last Name", :class => "input-medium" %>
    <%= label_tag "hospital", "Hospital: "%>
      <%= text_field_tag :hospital, params[:hospital], placeholder: "Hospital", :class => "input-medium" %>
      <br>
    <%= label_tag "employer", "Employer: "%>
      <%= text_field_tag :employer, params[:employer], placeholder: "Employer", :class => "input-medium" %>
    <%= label_tag "state", "State: "%>
      <%= text_field_tag :state, params[:state], placeholder: "State", :class => "input-medium" %>
    
<br>
    <%= submit_tag "Search Anesthesiologists", :name => nil, :class => "btn btn-primary", :style => "margin:1em" %>
    
    <%= link_to "List all Anesthesiologists", "/providers", class: "btn btn-danger " %>
   
  <% end %>

  <h1>
    <% if @providers.length == 1%>
    1 anesthesiologist matches your search
    <% else %>
    <%= @providers.length %> anesthesiologists match your search.
    <% end %>
  </h1>

  <table>
    <thead>
      <tr>
        <th><%= sortable "last", "Name" %></th>
        <th>Location</th>
        <th><%= sortable "aff1", "Hospitals" %></th>
        <th><%= sortable "name_lgl", "Employer" %></th>
        <th> </th>
      </tr>         
    </thead>
    <tbody>
       <% @providers.each do |provider| %>
        <tr>
          <td><%= "#{provider.last}, #{provider.first} #{provider.middle}"  %></td>
          <td><%= "#{provider.city}, #{provider.state}" %></td>
          <td><div><%= "#{provider.aff1}" %></div>
              <div><%= "#{provider.aff2}" %></div>
              <div><%= "#{provider.aff3}" %></div>
              <div><%= "#{provider.aff4}" %></div>
              <div><%= "#{provider.aff5}" %></div>
          </td>
          <td><div><%= "#{provider.name_lgl}" %></div>
              <div><%= "#{provider.name_common}" %></div>
          </td>
              
          
          <td style = "text-align: center"> <%=external_link_to image_tag("abaorbit.png"), provider.aba%> </td>
        </tr>
      <% end %>  
    </tbody>
  </table>

</div>

<!--
<div>
  <h2 style = "font-size: 2em">Import a CSV File</h2>
    <%= form_tag import_providers_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
    <% end %>
</div>
-->
