<% title "U.S. Anesthesia Professionals" %>
<div class = "sites">
  <h1> <%= yield(:title) %> </h1>
</div>  

<div class = "providers">
  <p> Anesthesiologists, CRNAs, and AAs are publicly listed in the <br><%= external_link_to "Physican Compare datasets", @datasets %> at 
    <%= external_link_to "data.medicare.gov", @medicare %> </p>
 
    <%= form_tag(providers_path, :method => "get", :class => "form-horizontal") do %>
   
    <table class = "provsearch" align= "center">
      <tr> 
        <td>
        <%= label_tag "last", "Last Name: "%>
        <%= text_field_tag :last, params[:last], placeholder: "Last Name", :class => "input-medium" %>
        </td>
        <td style="text-align:left">
        <%= label_tag "hospital", "Hospital: "%>
        <%= text_field_tag :hospital, params[:hospital], placeholder: "Hospital", :class => "input-medium" %>
        </td>
      </tr>
      <tr>
        <td>
        <%= label_tag "employer", "Employer: "%>
        <%= text_field_tag :employer, params[:employer], placeholder: "Employer", :class => "input-medium" %>
        </td>
        <td style="text-align:left">
        <%= label_tag "state", "State: "%>
        <%= select_tag :state, options_for_select(us_states) %>
        </td>
      </tr>
    </table>
    <%= hidden_field_tag "provider_type", "md"  %>
    <%= submit_tag "Search Anesthesiologists", :name => nil, :class => "btn btn-primary", :style => "margin:1em" %>
    <% end %>
  
  <hr width=75% align=center>
  <br>
  
    <%= form_tag(providers_path, :method => "get", :class => "form-horizontal") do %>
   
    <table class = "provsearch" align= "center">
      <tr> 
        <td>
        <%= label_tag "last", "Last Name: "%>
        <%= text_field_tag :last, params[:last], placeholder: "Last Name", :class => "input-medium" %>
        </td>
        <td style="text-align:left">
        <%= label_tag "hospital", "Hospital: "%>
        <%= text_field_tag :hospital, params[:hospital], placeholder: "Hospital", :class => "input-medium" %>
        </td>
      </tr>
      <tr>
        <td>
        <%= label_tag "employer", "Employer: "%>
        <%= text_field_tag :employer, params[:employer], placeholder: "Employer", :class => "input-medium" %>
        </td>
        <td style="text-align:left">
        <%= label_tag "state", "State: "%>
        <%= select_tag :state, options_for_select(us_states) %>
        </td>
      </tr>
    </table>
    <%= hidden_field_tag "provider_type", "crna"  %>
    <%= submit_tag "Search CRNAs", :name => nil, :class => "btn btn-warning", :style => "margin:1em" %>
    <% end %>
    
    <hr width=75% align=center>
    <br>
  
      <%= form_tag(providers_path, :method => "get", :class => "form-horizontal") do %>
   
      <table class = "provsearch" align= "center">
        <tr> 
          <td>
          <%= label_tag "last", "Last Name: "%>
          <%= text_field_tag :last, params[:last], placeholder: "Last Name", :class => "input-medium" %>
          </td>
          <td style="text-align:left">
          <%= label_tag "hospital", "Hospital: "%>
          <%= text_field_tag :hospital, params[:hospital], placeholder: "Hospital", :class => "input-medium" %>
          </td>
        </tr>
        <tr>
          <td>
          <%= label_tag "employer", "Employer: "%>
          <%= text_field_tag :employer, params[:employer], placeholder: "Employer", :class => "input-medium" %>
          </td>
          <td style="text-align:left">
          <%= label_tag "state", "State: "%>
          <%= select_tag :state, options_for_select(us_states) %>
          </td>
        </tr>
      </table>
      <%= hidden_field_tag "provider_type", "aa"  %>
      <%= submit_tag "Search AAs", :name => nil, :class => "btn btn-success", :style => "margin:1em" %>
      <% end %>

  <h1>
    <% if @providers.length == 1 && params[:provider_type] == "md"%>
      1 anesthesiologist matches your search
    <% elsif @providers.length == 1 && params[:provider_type] == "crna"%>
      1 CRNA matches your search
    <% elsif @providers.length == 1 && params[:provider_type] == "aa"%>
      1 AA matches your search  
    <% elsif params[:provider_type] == "md"%>
      <%= @providers.length %> anesthesiologists match your search.
    <% elsif params[:provider_type] == "crna"%>
      <%= @providers.length %> CRNAs match your search.    
    <% elsif params[:provider_type] == "aa"%>
      <%= @providers.length %> AAs match your search.
    <% else %>
    <% end %>
  </h1>

  <% unless @providers.length == 0%>
  <table>
    <thead>
      <tr>
        <th><%= sortable "last", "Name" %></th>
        <th><%= sortable "city", "Location" %></th>
        <th><%= sortable "aff1", "Hospitals" %></th>
        <th><%= sortable "name_lgl", "Employer" %></th>
        <th> </th>
      </tr>         
    </thead>
    <tbody>
       <% @providers.each do |provider| %>
        <tr>
          <td><%= "#{provider.last}, #{provider.first} #{provider.middle}"  %></td>
          <td><%= "#{provider.city}, #{provider.state}" %></td>
          <td><div><%= "#{provider.aff1}" %></div>
              <div><%= "#{provider.aff2}" %></div>
              <div><%= "#{provider.aff3}" %></div>
              <div><%= "#{provider.aff4}" %></div>
              <div><%= "#{provider.aff5}" %></div>
          </td>
          <td><div><%= "#{provider.name_lgl}" %></div>
              <div><%= "#{provider.name_common}" %></div>
          </td> 
          <% if provider.aba %>
          <td style = "text-align: center"> <%=external_link_to image_tag("abaorbit.png"), provider.aba %> </td>
          <% end %>
        </tr>
      <% end %>  
    </tbody>
  </table>
  <% end %>

</div>

<!--
<div>
  <h2 style = "font-size: 2em">Import a CSV File</h2>
    <%= form_tag import_providers_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
    <% end %>
</div>
-->
