<% title "T4P"%>

<div class = "tmcponv">
  <h1> Risk Stratification Score for Postoperative Pneumonia </h1>
  
  <div class = "boxed">
    <%= form_tag('/calculator', method: :get) %>  
    <h3>
      <label><%= check_box_tag 'asa_checkbox',    '2', (params[:asa_checkbox] == '2')     %>    ASA > 3 </label><br>
      <label><%= check_box_tag 'surgery_checkbox','2', (params[:surgery_checkbox] == '2') %>    Upper abdominal, chest, neuro or airway surgery</label><br>
      <label><%= check_box_tag 'resp_checkbox',   '2', (params[:resp_checkbox] == '2')    %>    COPD, pulmonary HTN, OSA or severe asthma</label><br>
      <label><%= check_box_tag 'smoking_checkbox','1', (params[:smoking_checkbox] == '1') %>    Smoking</label><br>
      <label><%= check_box_tag 'nmd_checkbox',    '1', (params[:nmd_checkbox] == '1')     %>    Impaired sensorium, neuromuscular disease or swallowing difficulty</label><br>
      <label><%= check_box_tag 'weight_checkbox', '1', (params[:weight_checkbox] == '1')  %>    Unintentional weight loss > 10%</label><br>
      <label><%= check_box_tag 'bmi_checkbox',    '1', (params[:bmi_checkbox] == '1')     %>    BMI < 22</label><br>
      <label><%= check_box_tag 'ga_checkbox',     '2', (params[:ga_checkbox] == '2')      %>    General anesthesia</label><br>
      <label><%= check_box_tag 'length_checkbox', '1', (params[:length_checkbox] == '1')  %>    Surgery > 2 hours</label><br>
    </h3>
    <h3 style = "text-align: center">  
      <label><%= radio_button_tag 'age_radio', '0',    (params[:age_radio] != '0')        %>    Age < 65</label>&emsp;&emsp;&emsp;
      <label><%= radio_button_tag 'age_radio', '1',    (params[:age_radio] == '1')        %>    Age 65-80</label>&emsp;&emsp;&emsp;
      <label><%= radio_button_tag 'age_radio', '2',    (params[:age_radio] == '2')        %>    Age > 80</label><br>
    
      <label><%= radio_button_tag 'adls_radio', '0',   (params[:adls_radio] != '0')       %>    Independent</label>&emsp;&emsp;&emsp;
      <label><%= radio_button_tag 'adls_radio', '1',   (params[:adls_radio] == '1')       %>    Partially Dependent</label>&emsp;&emsp;&emsp;
      <label><%= radio_button_tag 'adls_radio', '2',   (params[:adls_radio] == '2')       %>    Dependent </label><br>
    
      <label><%= radio_button_tag 'surgery_radio', '0',   (params[:surgery_radio] != '0')       %>    Elective</label>&emsp;&emsp;&emsp;
      <label><%= radio_button_tag 'surgery_radio', '1',   (params[:surgery_radio] == '1')       %>    Urgent</label>&emsp;&emsp;&emsp;
      <label><%= radio_button_tag 'surgery_radio', '2',   (params[:surgery_radio] == '2')       %>    Emergent</label>
    </h3>

    <h4>
      <button type="submit" class="btn btn-danger btn-lg">Get Score</button>
    </h4>
    
    <%= link_to "Reset", "/calculator", class: "btn btn-primary" %>
    
    <h4> Risk Score: <%= @score %>
    
    <% if @score < 7 %>
      <h4 style = "color:green">  Green </h4>
    <% elsif @score > 12 %>
      <h4 style = "color:red">    Red   </h4>
    <% else %>
      <h4 style = "color:yellow"> Yellow </h4>
    <% end %>   
  </div> 

  <hr>
    <% if @score < 7 %>
      <p><%= image_tag("T4PGreen.png", width:"50%") %></p>

    <% elsif @score > 12 %>
      <p><%= image_tag("T4PRed.png", width:"50%") %></p>
  
    <% else %>
      <p><%= image_tag("T4PYellow.png", width:"50%") %> </p>

    <% end %>
  
  <hr>
    <%= image_tag("BREATHE.jpg", width:"70%") %>
</div>

