<% title "Nurse Anesthesia Certification" %>
<%= render 'layouts/subheader' %>

<div class="exams">  
  <p>
    The <%= external_link_to "National Board of Certification and Recertification for Nurse Anesthetists", @nbcrna %> 
    (NBCRNA), an independent body from the 
    <%= external_link_to "American Association of Nurse Anesthetists", @aana %> (AANA)
    administers the National Certification Examination (NCE) and oversees certification and recertification of CRNAs.
  </p>

  <p>
    The primary certification and recertification programs of the NBCRNA are accredited through July 2017 by the 
    Accreditation Board for Specialty Nursing Certification of the 
    <%= external_link_to "American Board of Nursing Specialties", @abns %> (ABNS).
  </p>
  
  <p>
    The NCE is a variable-length computerized adaptive test. There are a minimum of 100 and a maximum of 170 questions which include 30 non-graded test questions. Candidates will receive a preliminary pass/fail report when they complete the exam. The content outline, exam information and sample questions can be found in the
    <%= external_link_to "2015 NCE Handbook", @handbook %>.
  </p>

  <p> Clinical requirements for students enrolled after January 1, 2015: </p>
  
   <%= image_tag("CRNAreq.png") %>
   <%= image_tag("NCE.jpg") %>
  
  <p> The following books may be useful for exam preparation: </p>
  
  <div class='row'>   
      <div class='col-xs-2'>  
      <%= external_link_to image_tag("Burns.jpg"), "http://www.amazon.com/Certification-Review-Nurse-Anesthesia-Shari/dp/0071827668" %>
      </div>
      <div class='col-xs-2'>
      <%= external_link_to image_tag("CRNAcert.jpg"), "http://www.amazon.com/Certification-Review-Kelly-Wiltse-Nicely/dp/1449670482" %>
      </div>
      <div class='col-xs-2'>
      <%= external_link_to image_tag("CRNACards.jpg"),"http://www.amazon.com/CRNA-Exam-Flashcard-Study-System/dp/1609715284" %>
      </div>
      <div class='col-xs-2'>
      <%= external_link_to image_tag("CRNAPocket.jpg"), "http://www.amazon.com/Nurse-Anesthesia-Pocket-Guide-Clinicians/dp/0763773026" %>
      </div>
      <div class='col-xs-2'>
      <%= external_link_to image_tag("Nagelhout.jpg"), "http://www.amazon.com/Nurse-Anesthesia-5e-Nagelhout/dp/1455706124" %>  
      </div>
  </div>

  <p>
    More information available at <%= external_link_to "The CRNA.", @thecrna %>
  </p>
  
  <p>
    Discussion threads at <%= external_link_to "Nurse-Anesthesia.org", @nurse_anes %>:
  </p>

  <p> 
    Nurse Anesthesia board commercial prep courses:
  </p>
  
  <p class="disclaimer">
  I don't have any experience with these products and do not endorse any
  particular product
  </p>
  
  <ul>
    <%= render partial: 'site', collection: @commercial_courses %>
  </ul><br/>
  
</div>

