<% title "Echo Boards" %>

<h1> <%= yield(:title) %> </h1>
<hr>

<div class="exams">  
  <p>
    Certification in Basic and Advanced Perioperative Transesophageal Echocardiography is offered through the 
    <%= external_link_to "National Board of Echocardiography", @nbe %>. 
  </p>

  <p> The <%= external_link_to "Basic", @basic %> certification is intended for non-diagnostic monitoring within the customary practice of      anesthesiology. It is not sufficient for making diagnoses that require cardiac surgical intervention. Diplomates must:</p>
  <ul>
    <li> Complete 150 <%= external_link_to "basic perioperative TEE exams", @basictee %>, 50 of which must be personally performed and interpreted under supervision </li>
   <!-- <li> Pass the <%= external_link_to "Basic PTEeXAM", @basicpte %>, a computer-based multiple choice exam. </li>-->
   <li> Pass the Basic PTEeXAM, a computer-based multiple choice exam. </li>
  </ul>

  <p> The <%= external_link_to "Advanced", @advanced %> certification is intended for full diagnostic use including direction of the perioperative surgical decision making process. Diplomates must:</p> 
  
  <ul>
    <li> Complete a 12-month <%= external_link_to "ACGME-approved cardiac anesthesiology fellowship", @fellowships %>.</li>
    <li> Complete 300 comprehensive perioperative TEE exams, 150 of which must be personally performed and interpreted under supervision </li>
    <!-- <li> Pass the <%= external_link_to "Advanced PTEeXAM", @advancedpte %>, a computer-based multiple choice exam. </li>  -->
    <li> Pass the Advanced PTEeXAM, a computer-based multiple choice exam. </li>
  </ul>
</br>
</br>
  <p> Excellent <%= external_link_to "virtual TEE simulator", @pie %> from the Toronto General Hospital Department of Anesthesia</p>
  <p> Online lecture series and question bank from the <%= external_link_to "University of Utah", @utah %> 
  <p> Open Anesthesia <%= external_link_to "Basic Course in TEE", @opentee %> </p>
  <p> <%= external_link_to "American Society of Echocardiography (ASE)", @ase %> </p>
  <p> Cardiac links from the <%= external_link_to "Canadian Society of Echocardiogrpahy", @canada %> </p>
  
  
  <p>
    Discussion threads at <%= external_link_to "Student Doctor Network", @sdn %> 
  </p>
  <ul>
    <%= render partial: 'site', collection: @study_strategy %>
  </ul><br/>
  <p> 
    Echo board commercial prep courses:
  </p>
  <p class="disclaimer">
  I don't have any experience with these products and do not endorse any
  particular product
  </p>
  <ul>
    <%= render partial: 'site', collection: @commercial_courses %>
  </ul><br/>
  
  
</div>
