<% title "Critical Care" %>
<%= render 'layouts/subheader' %>

<div class="exams">  
  <p> Subspecialty certification in Critical Care medicine requires completion of a one-year fellowship and passing of the annual <%= external_link_to *@icu_cert%>.</p>
  
  <p> Certification in critical care medicine began in 1986. The success rate on recent exams was:</p>
  
  <%= image_tag("CCMResults11-17.png") %>
  
  <p> The 2019 exam will be administered October 12. </p>
      
  <p>
    The ABA has posted the <%= external_link_to "content outline", @icu_exam_content %> and
    <%= external_link_to "blueprint", @icu_exam_blueprint %>.
  </p>
  
  <p>
    Discussion threads at <%= external_link_to "Student Doctor Network", @sdn %>: 
  </p>
  
  <ul>
    <%= render partial: 'site', collection: @study_strategy %>
  </ul>
  
  
</div>
