<% title "Informatics" %>

<h1> <%= yield(:title) %> </h1>

<div class = "informatics">
<h3><u> Glossary of Agencies & Organizations </u></h3>
<ul>
  <li> <%= external_link_to image_tag("Wiki.png"), @ahrqwiki %>
  <strong>AHRQ</strong>, <%= external_link_to "Agency for Healthcare Research and Quality", @ahrq %> </li>
  
  <li> <%= external_link_to image_tag("Wiki.png"), @atsdrwiki %>
  <strong>ATSDR</strong>, <%= external_link_to "Agency for Toxic Substances and Disease Registry", @atsdr %> </li>
    
  <li> <%= external_link_to image_tag("Wiki.png"), @cdcwiki %>
  <strong>CDC</strong>, <%= external_link_to "Centers for Disease Control and Prevention", @cdc %> </li>

  <li> <%= external_link_to image_tag("Wiki.png"), @fdawiki %>
  <strong>FDA</strong>, <%= external_link_to "Food and Drug Administration", @fda %> </li>
  
  <li> <%= external_link_to image_tag("Wiki.png"), @hipaawiki %>
  <strong>HIPAA</strong>, <%= external_link_to "Health Insurance Portability and Accountability Act", @hipaa %> </li>
  
  <li> <%= external_link_to image_tag("Wiki.png"), @tjcwiki %>
  <strong>TJC</strong> formerly <strong>JCAHO</strong>, <%= external_link_to "The Joint Commission", @tjc %> </li>
  
  <li> <%= external_link_to image_tag("Wiki.png"), @cmswiki %>
  <strong>HSS</strong>, <%= external_link_to "United States Department of Health and Human Services", @cms %> </li>
   
  <li>
  <strong>NNDSS</strong>, <%= external_link_to "National Notfiable Diseases Surveillance System", @nndss %> </li>
  
  <li> <%= external_link_to image_tag("Wiki.png"), @oecdwiki %>
  <strong>OECD</strong>, <%= external_link_to "Organisation for Economic Co-operation and Development", @oecd %> </li>
  
  <li> <%= external_link_to image_tag("Wiki.png"), @oncwiki %>
  <strong>ONC</strong>, <%= external_link_to "Office of the National Coordinator for Health Information Technology", @onc %> </li>
  
  <li> <%= external_link_to image_tag("Wiki.png"), @whowiki %>
  <strong>WHO</strong>, <%= external_link_to "World Health Organization", @who %> </li>
<ul>
</div>

