<% title "MOCA" %>
<%= render 'layouts/subheader' %>

<div class="exams">  
  <p>
    On January 4, 2016, <%= external_link_to "MOCA 2.0", @moca2about %> began.
  </p>
  <br>
</div>
<div class = "moca">
  <table>
    <tr>
      <th> MOCA 2.0 </th>
    </tr>
    <tr>
      <td><u>Professionalism and Professional Standing (PPS) </u>
        <dd> Most hold an active, unrestricted license in at least one jursidiction of US or Canada. </dd>
      </td>
    </tr>
    <tr>
      <td><u>Lifelong Learning and Self-Assessment (LLS)</u>
        <dd> 250 Category 1 CME credits, no more than 60 per year. No requirement for Self-Assessment CME. At least 20 credits of ABA-approved <%= external_link_to "Patient Safety CME", @cme %>. </dd>
      </td>
    </tr>
    <tr>
      <td><u>Assessment of Knowledge, Judgment, and Skills (KJS)</u>
      <dd> Complete 30 
        <%= external_link_to "MOCA Minute", @mocaminute %> questions per calendar quarter. Multiple-choice questions are emailed out weekly. Questions are chosen from topics where a majority of takers answered incorrectly. Once a question is opened you have one minute to answer. Immediate feedback with references is provided. 
      </td>
    </tr>
    <tr>
      <td><u>Quality Improvement (QI)</u>
        <dd> You need to earn 25 points every five-year period by completing <%= external_link_to "MOCA 2.0 activities", @activities %>.</dd>
      </td>
    </tr>
  </table>  
</div>
<br><br>
<div class="exams">
  <p>
    Discussion threads at <%= external_link_to "Student Doctor Network", @sdn %>: 
  </p>
  <ul>
    <%= render partial: 'site', collection: @study_strategy %>
  </ul><br/>
  <!--
  <p> 
    MOCA commercial prep courses:
  </p>
  <p class="disclaimer">
  I don't have any experience with these products and do not endorse any
  particular product
  </p>
  <ul>
    <%= render partial: 'site', collection: @commercial_courses %>
  </ul><br/> -->
</div>

