<% title "MOCA" %>
<%= render 'layouts/subheader' %>

<div class="exams">  
  <p>
    The <%= external_link_to "American Board of Anesthesiology", @aba %> 
    (ABA), under the auspices of the <%= external_link_to "American Board of Medical Specialties", @abms %>  (ABMS), changed its requirements for <%= external_link_to "maintenance of certification", @moca %> (MOC) on January 4, 2016. The <%= external_link_to " MOCA 2.0 FAQ", @moca2 %> provides further information. The <%= external_link_to "MOCA timeline", @moca3 %> shows the evolution of MOCA.
  </p>
  <br>
</div>
<div class = "moca">
  <table>
    <tr>
      <th> MOCA (2004 - 2015) </th>
      <th> MOCA 2.0 </th>
    </tr>
    <tr>
      <td><u>Professional Standing</u>
        <dd> Most hold an active, unrestricted license in at least one jursidiction of US or Canada. </dd>
      </td>
      <td><u>Professionalism and Professional Standing (PPS) </u>
        <dd> Most hold an active, unrestricted license in at least one jursidiction of US or Canada. </dd>
      </td>
    </tr>
    <tr>
      <td><u>Lifelong Learning and Self-Assessment (LLSA)</u>
        <dd> 250 Category 1 CME credits, no more than 60 per year. At least 90 credits of ABA-approved <%= external_link_to "Self-Assessment CME", @cme %>. At least 20 credits of ABA-approved <%= external_link_to "Patient Safety CME", @cme %>. </dd>
       </td>
      <td><u>Lifelong Learning and Self-Assessment (LLS)</u>
        <dd> 250 Category 1 CME credits, no more than 60 per year. No requirement for <%= external_link_to "Self-Assessment CME", @cme %>. At least 20 credits of ABA-approved <%= external_link_to "Patient Safety CME", @cme %>. </dd>
      </td>
    </tr>
    <tr>
      <td><u>Cognitive Examination (CE)</u>
        <dd> 200 question four-hour computer-based multiple-choice exam. May only be completed in years 7 through 10 of the MOCA cycle.</dd>
        </td>
      <td><u>Assessment of Knowledge, Judgment, and Skills (KJS)</u>
      <dd> Complete 30 
        <%= external_link_to "MOCA Minute", @mocaminute %> questions per calendar quarter. Multiple-choice questions are emailed out weekly. Questions are chosen from topics where a majority of takers answered incorrectly. Once a question is opened you have one minute to answer. Immediate feedback with references is provided. 
      </td>
    </tr>
    <tr>
      <td><u>Practice Performance Assessment and Improvement (PPAI)</u>
        <dd> Completion of a case evaluation (quality improvement project) and <%= external_link_to "simulation course", @sim %>. One activity must be completed between years 1-5, the other between years 6-10. In lieu of the case evaluation, one can complete a module in <%= external_link_to "practice performance assessment and improvement", @ppai %>.</dd>
        </td>
      <td><u>Improvement in Medical Practice (IMP)</u>
        <dd> You need to earn 25 points every five-year period. If you have already completed one Part 4 activity it is worth 25 points.  If you have not completed any Part 4 activites you may complete one before 12/31/15 and receive 25 points or you may wait until 2016 and earn points by completing <%= external_link_to "MOCA 2.0 activities", @activities %>.</dd>
      </td>
    </tr>
  </table>  
</div>
<br><br>
<div class="exams">
  <p>
    Discussion threads at <%= external_link_to "Student Doctor Network", @sdn %>: 
  </p>
  <ul>
    <%= render partial: 'site', collection: @study_strategy %>
  </ul><br/>
  <!--
  <p> 
    MOCA commercial prep courses:
  </p>
  <p class="disclaimer">
  I don't have any experience with these products and do not endorse any
  particular product
  </p>
  <ul>
    <%= render partial: 'site', collection: @commercial_courses %>
  </ul><br/> -->
</div>

