<% title "Movies" %>
<div class = "sites">
  <h1> <%= yield(:title) %> </h1>
</div>

<div class="movies">
  <div class="panel-group" id="accordion">  
    <div class="panel panel-info">     
      <div class="panel-heading"> 
        <h3 class="panel-title">
          <a href='#arterial' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
            Arterial Lines
          </a>
        </h3>
      </div>
    
      <div id="arterial" class="panel-collapse collapse"> 
        <div class="panel-body">  
          <div class="panel-group" id="accordion-art"> <!-- radial accordion -->
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#art-rad' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-art">
                    Radial
                  </a>
                </h4>
              </div>
            
              <div id="art-rad" class="panel-collapse collapse">
                <div class="panel-body">
           
                  <div class="panel-group" id="accordion-art-rad"> <!-- ultrasound-guided accordion -->
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h5 class="panel-title">
                          <a href='#art-rad-us' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-art-rad">
                            Ultrasound-guided
                          </a>
                        </h5>
                      </div>
                    
                      <div id="art-rad-us" class="panel-collapse collapse">
                        <div class="panel-body">
                          <% @art_rad_us.each do |movie| %> 
                          <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                          <% end %>
                        </div>
                      </div>                       
                    </div>
 
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h5 class="panel-title">
                          <a href='#art-rad-non-us' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-art-rad">
                            Non ultrasound-guided
                          </a>
                        </h5>
                      </div>
                    
                      <div id="art-rad-non-us" class="panel-collapse collapse">
                        <div class="panel-body">       
                          <% @art_rad_non_us.each do |movie| %> 
                          <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                          <% end %>
                        </div>        
                      </div>               
                    </div> 
                  </div> 
                </div> 
              </div> 
            </div> 

            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#art-brachial' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-art">
                    Brachial
                  </a>
                </h4>
              </div>
            
              <div id="art-brachial" class="panel-collapse collapse">
                <div class="panel-body">
           
                  <div class="panel-group" id="accordion-art-brachial"> <!-- ultrasound-guided accordion -->
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h5 class="panel-title">
                          <a href='#art-brachial-us' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-art-brachial">
                            Ultrasound-guided
                          </a>
                        </h5>
                      </div>
                    
                      <div id="art-brachial-us" class="panel-collapse collapse">
                        <div class="panel-body">
                          <% @art_brach_us.each do |movie| %> 
                          <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                          <% end %>
                        </div>
                      </div>                     
                    </div>

                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h5 class="panel-title">
                          <a href='#art-brachial-non-us' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-art-brachial">
                            Non ultrasound-guided
                          </a>
                        </h5>
                      </div>
                    
                      <div id="art-brachial-non-us" class="panel-collapse collapse">
                        <div class="panel-body">
                          <% @art_brach_non_us.each do |movie| %> 
                          <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                          <% end %>
                        </div>        
                      </div>                            
                    </div> 
                  </div> 
                </div> 
              </div> 
            </div> 
          </div>    
        </div> 
      </div> 
    </div>

    <div class="panel panel-info"> <!-- central lines accordion-->
      <div class="panel-heading"> 
        <h3 class="panel-title">
          <a href='#central' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
            Central Lines
          </a>
        </h3>
      </div>
  
      <div id="central" class="panel-collapse collapse"> 
        <div class="panel-body">
     
          <div class="panel-group" id="accordion-cent"> 
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#cent-ij' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cent">
                    Internal Jugular
                  </a>
                </h4>
              </div>
          
              <div id="cent-ij" class="panel-collapse collapse">
                <div class="panel-body">
         
                  <div class="panel-group" id="accordion-cent-ij"> 
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h5 class="panel-title">
                          <a href='#cent-ij-us' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cent-ij">
                            Ultrasound-guided
                          </a>
                        </h5>
                      </div>
                  
                      <div id="cent-ij-us" class="panel-collapse collapse">
                        <div class="panel-body">
                          <% @cent_ij_us.each do |movie| %> 
                          <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                          <% end %>
                        </div>
                      </div>   
                    </div>

                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h5 class="panel-title">
                          <a href='#cent-ij-non-us' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cent-ij">
                            Non ultrasound-guided
                          </a>
                        </h5>
                      </div>
                  
                      <div id="cent-ij-non-us" class="panel-collapse collapse">
                        <div class="panel-body">
                          <% @cent_ij_non_us.each do |movie| %> 
                          <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                          <% end %>
                        </div>        
                      </div>                
                    </div> 
                  </div> 
                </div> 
              </div> 
            </div> 

            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#cent-subclav' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cent">
                    Subclavian
                  </a>
                </h4>
              </div>
          
              <div id="cent-subclav" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="panel-group" id="accordion-cent-subclav">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h5 class="panel-title">
                          <a href='#cent-subclav-us' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cent-subclav">
                            Ultrasound-guided
                          </a>
                        </h5>
                      </div>
                  
                      <div id="cent-subclav-us" class="panel-collapse collapse">
                        <div class="panel-body">
                          <% @cent_subclav_us.each do |movie| %> 
                          <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                          <% end %>
                        </div>
                      </div>         
                    </div>

                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h5 class="panel-title">
                          <a href='#cent-subclav-non-us' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cent-subclav">
                            Non ultrasound-guided
                          </a>
                        </h5>
                      </div>
                  
                      <div id="cent-subclav-non-us" class="panel-collapse collapse">
                        <div class="panel-body">
                          <% @cent_subclav_non_us.each do |movie| %> 
                          <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                          <% end %>
                        </div>        
                      </div>             
                    </div> 
                  </div> 
                </div> 
              </div> 
            </div> 

            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#cent-fem' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cent">
                    Femoral
                  </a>
                </h4>
              </div>
          
              <div id="cent-fem" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="panel-group" id="accordion-cent-fem"> 
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h5 class="panel-title">
                          <a href='#cent-fem-us' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cent-fem">
                            Ultrasound-guided
                          </a>
                        </h5>
                      </div>
                  
                      <div id="cent-fem-us" class="panel-collapse collapse">
                        <div class="panel-body">
                          <% @cent_fem_us.each do |movie| %> 
                          <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                          <% end %>
                        </div>
                      </div>  
                    </div>

                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h5 class="panel-title">
                          <a href='#cent-fem-non-us' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cent-fem">
                            Non ultrasound-guided
                          </a>
                        </h5>
                      </div>
                  
                      <div id="cent-fem-non-us" class="panel-collapse collapse">
                        <div class="panel-body">
                          <% @cent_fem_non_us.each do |movie| %> 
                          <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                          <% end %>
                        </div>        
                      </div>                            
                    </div> 
                  </div> 
                </div> 
              </div> 
            </div> 
          </div>    
        </div> 
      </div> 
    </div>
 
    <div class="panel panel-info"> 
      <div class="panel-heading"> 
        <h3 class="panel-title">
          <a href='#pnb' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
            Peripheral Nerve Blocks
          </a>
        </h3>
      </div>
  
      <div id="pnb" class="panel-collapse collapse"> 
        <div class="panel-body">
          <div class="panel-group" id="accordion-pnb">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#interscalene' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Interscalene
                  </a>
                </h4>
              </div>

              <div id="interscalene" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @interscalene.each do |movie| %> 
                  <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                  <% end %>
                </div>
              </div>         
            </div>
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#supraclavicular' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Supraclavicular
                  </a>
                </h4>
              </div>

              <div id="supraclavicular" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @supraclavicular.each do |movie| %> 
                  <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#infraclavicular' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Infraclavicular
                  </a>
                </h4>
              </div>

              <div id="infraclavicular" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @infraclavicular.each do |movie| %> 
                  <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#axillary' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Axillary
                  </a>
                </h4>
              </div>

              <div id="axillary" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @axillary.each do |movie| %> 
                  <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#femoral' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Femoral
                  </a>
                </h4>
              </div>

              <div id="femoral" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @femoral.each do |movie| %> 
                  <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#sciatic' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Sciatic
                  </a>
                </h4>
              </div>

              <div id="sciatic" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @sciatic.each do |movie| %> 
                  <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#abdominal' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Abdominal
                  </a>
                </h4>
              </div>

              <div id="abdominal" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @abdominal.each do |movie| %> 
                  <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#pediatric' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Pediatric
                  </a>
                </h4>
              </div>

              <div id="pediatric" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @pediatric_block.each do |movie| %> 
                  <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                  <% end %>
                </div>
              </div>        
            </div>
          </div>
        </div>
      </div>  
    </div>       
          
    <div class="panel panel-info"> 
      <div class="panel-heading"> 
        <h3 class="panel-title">
          <a href='#neuraxial' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
            Neuraxial Blocks
          </a>
        </h3>
      </div>

      <div id="neuraxial" class="panel-collapse collapse"> 
        <div class="panel-body">
          <div class="panel-group" id="accordion-neuraxial">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#spinal' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-neuraxial">
                    Spinal
                  </a>
                </h4>
              </div>

              <div id="spinal" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @spinal.each do |movie| %> 
                  <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                  <% end %>
                </div>
              </div>         
            </div>

            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#epidural' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-neuraxial">
                    Epidural
                  </a>
                </h4>
              </div>

              <div id="epidural" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @epidural.each do |movie| %> 
                  <a href="<%= movie[1] %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie[0] %></a>
                  <% end %>
                </div>
              </div>        
            </div>
             
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>