<% title "Medical Students" %>
<%= render 'layouts/subheader' %>

<div class="exams">
  <p> Some great blog posts about anesthesiology. </p>
  <ul>
    <%= render partial: 'site', collection: @articles %>
  </ul>
  <!--
  <p> Jeff Steiner's fantastic medical student and resident centric website <%= external_link_to *@anesthesiamadeeasy %> as well as his free book on obtaining a residency position: <%= external_link_to *@steiner %> </p>
  -->
  <p> A teriffic, free, and well-written introduction to anesthesiology: <%= external_link_to *@ua %> by Karen Raymer</p>   
  <p> David Lyness' of <%= external_link_to *@propofology %> high quality <%= external_link_to *@lynessbook %> </p>
  <p> Free, well-produced textbook from U. Toronto: <%= external_link_to *@acm %> </p>   
  <!--<p> Interactive and well-produced learning modules on the basics of anesthesia: <%= external_link_to *@rca %>.</p>-->  
  <p> Stanford University Medical Center Department of Anesthesiology <%= external_link_to *@stanford %> </p>  
  <p> The Society for Education in Anesthesia (<%= external_link_to *@sea %>) <%= external_link_to *@seams %></p>
 
</div>

