<% title "APPLIED" %>
<%= render 'layouts/subheader' %>

<div class="exams">
  <p> The third staged exam, the APPLIED, has two components: </p>
    
    <ol>
      <p><strong> Standardized Oral Examination (SOE) </strong> <em>(<%= external_link_to *@soeqs %>)</em> </p>

      <p><strong> Objective Structured Clinical Examination (OSCE) </strong> <em>(<%= external_link_to *@osce %>, <%= external_link_to *@oscescenarios%>)</em>  </p>
    </ol>

  <table>
    <tr>
      <th>
        <%= image_tag 'SOE21.png', style: 'width:100%;' %>
      </th>
      <th>
        <%= image_tag 'OSCE21.png', style: 'width:100%;' %>
      </th>
    </tr> 
  </table>
  
  <p>
    <u>Successful Candidate Behavior</u> and <u>Improper Candidate Behavior</u>   
    <%= external_link_to *@aba_videos %> from the ABA.
  </p>
  
  <p>
    Excellent discussions from Anesthesia and Crtiical Care Reviews and Commentary (<%= external_link_to *@accrac %>) :
  </p>  
    
    <ul> <%= external_link_to *@accrac34 %> : Oral Board Prep with Drs. Tran and Beaudry </ul>
    <ul> <%= external_link_to *@accrac71 %> : Oral Board Prep 2: part 1 (<%= external_link_to *@accracstem71 %>) </ul> 
    <ul> <%= external_link_to *@accrac72 %> : Oral Board Prep 2: part 2 </ul>
    <ul> <%= external_link_to *@accrac75 %> : OB Oral Board Stem with Drs. Galvan and Hofkamp  (<%= external_link_to *@accracstem75 %>) </ul>
  
  <p>
    Oral board review <%= external_link_to "books", category_resources_path("Oral Board") %>
  </p>
  
  <p>
  <%= external_link_to *@xi %>: <%= external_link_to *@xiapplied %>
  </p>
  
  <p>
    John Doyle's <%= external_link_to *@exam_hints_pdf %> (2005)
  </p>
  
  <p>
    <%= external_link_to *@lovich %> by Jessica Lovich-Sapola
  </p>
  
  <p>
    <%= external_link_to *@jensenweapons %> (1999) by Niels Jensen
  </p>
  
  <p>
    Advice from <%= external_link_to *@the_anesthesia_consultant %>, Richard Novak
  </p>
  
  <p>
    Discussion threads at <%= external_link_to "Student Doctor Network", @sdn %>: 
  </p>
  
  <ul>
    <%= render partial: 'site', collection: @study_strategy %>
  </ul>
  
  <br>
  
  <p>
    Oral board commercial prep courses:
  </p>
  
  <p class="disclaimer">
    I don't have any experience with these products and do not endorse any
    particular product
  </p>
  
  <ul>
    <%= render partial: 'site', collection: @commercial_courses %>
  </ul>
  
</div>