<% title "APPLIED Exam" %>

<h1> <%= yield(:title) %> <br>
<h1 class="sub"> part 2  / oral boards </h1>
<hr>

<div class="exams">
  <p>
    The <%= external_link_to *@part2 %> exam was replaced by the <%= external_link_to *@applied %> exam in 2017 with two components: </p>
    
    <ol>
      <p><strong> Standardized Oral Examination (SOE) </strong></p>
      <p><strong> Objective Structured Clinical Examination (OSCE) </strong> </p>
    </ol>

  <p>
    OSCEs will launch in March 2018. <%= external_link_to *@osce %>
  </p>
  
  <p>
    Median pass rate for first time takers (2009-2015) is 86% 
  </p>

  <%= image_tag("Part2Results17.png") %>
  
  <p>
    The APPLIED exam is offered 9 weeks a year at the ABA assessment center in Raleigh, NC:
  </p>

  <div class='center'>
    <%= image_tag("OralDates2018.jpg") %>
  </div>
  
  <br>
  
  <p>
    <u>Successful Candidate Behavior</u> and <u>Improper Candidate Behavior</u>   
    <%= external_link_to *@aba_archive %> from the ABA.
  </p>
  
  <p>
    <u>What to Expect: The ABA Part 2 Examination</u> and <u>ABA Part 2 Examination Orientation</u>  
    <%= external_link_to *@aba_videos %> from the ABA.
  </p>
  
  <p>
    Oral board review <%= external_link_to "books", category_resources_path("Oral Board") %>
  </p>
  
  <p>
    John Doyle's <%= external_link_to *@exam_hints_pdf %> (2005)
  </p>
  
  <p>
    Excellent overview and <%= external_link_to *@lovich %> by Jessica Lovich-Sapola
  </p>
  
  <p>
    Advice from <%= external_link_to *@the_anesthesia_consultant %>, Richard Novak
  </p>
  
  <p>
    Model exam run-throughs from  <%= external_link_to *@accrac34 %> (Episode 34)
  </p>
  
  <p>
    Discussion threads at <%= external_link_to "Student Doctor Network", @sdn %> 
  </p>
  
  <ul>
    <%= render partial: 'site', collection: @study_strategy %>
  </ul>
  
  <br>
  
  <p>
    Oral board commercial prep courses:
  </p>
  
  <p class="disclaimer">
    I don't have any experience with these products and do not endorse any
    particular product
  </p>
  
  <ul>
    <%= render partial: 'site', collection: @commercial_courses %>
  </ul>
  
</div>