<% title "Pediatric Boards" %>
<div class = "sites">
  <h1> <%= yield(:title) %> </h1>
</div>

<div class="exams">  
  <p> Pediatric anesthesiology <%= external_link_to *@peds_cert%> requires completion of an ACGME-approved one-year
    <%= external_link_to "pediatric anesthesia fellowship", @pedsfellowships%>.</p>
  <p> Fellowship match trends (2012-14) are available from the <%= external_link_to "NRMP", @nrmp%>: </p>
    
  <div class='graphics'>
   <!-- <%= image_tag("PedFData.png") %> -->
  </div>
  <br>
  <p> In addition, one must pass the pediatric anesthesiology examination: </p>
  
  <div class='graphics'>
   <%= image_tag("ABA14Pedi.png") %> 
  </div>
  
  <br><br>
  <p>
    The ABA has posted the <%= external_link_to "content outline", @peds_exam_content %>
    and <%= external_link_to "sample questions", @peds_exam_questions %>.
  </p>
  <p>
    <%= external_link_to "Pediatric Anesthesia questions", topic_questions_path(6) %> from the 1990-1996 ITEs.
  </p>
  
  <p>
    Pediatric review book: <%= external_link_to "Update in Anesthesia", @wfsa %> from the WFSA.
  </p>
  <p>
    Discussion threads at <%= link_to_sdn_forum %>
  </p>
  <ul>
    <%= render partial: 'site', collection: @study_strategy %>
  </ul><br/>
  <p> 
    Pediatric board commercial prep courses:
  </p>
  <p style="font-size: 1.5em; font-style: italic; text-indent: 1em; list-style: none">
  I don't have any experience with these products and do not endorse any
  particular product
  </p>
  <ul>
    <%= render partial: 'site', collection: @commercial_courses %>
  </ul><br/>
</div>

