<% title "Pediatric Boards" %>

<h1> <%= yield(:title) %> </h1>
<hr>

<div class="exams">  
  <p> Pediatric anesthesiology <%= external_link_to *@peds_cert%> requires completion of an ACGME-approved one-year
    <%= external_link_to "pediatric anesthesia fellowship", @pedsfellowships%>.</p>
  <p> <%= external_link_to "Fellowship Match Data", @nrmp%> from the NRMP: </p>
  
  <%= image_tag("PediFellowMatch2017.png") %> 
    
  <p> The pediatric anesthesiology examination was first administered in 2013. The success rate on the exams were:</p>
  
  <%= image_tag("Peds13-16.png") %>   
  <p> The 2018 exam will be administered August 11. </p>
  
  <p>
    The ABA has posted the <%= external_link_to "content outline", @peds_exam_content %>,
    <%= external_link_to "blueprint", @peds_exam_blueprint %>,
    and <%= external_link_to "sample questions", @peds_exam_questions %>.
  </p>
  
  <p>
    <%= external_link_to "Pediatric Anesthesia questions", topic_questions_path(6) %> from the 1990-1996 ITEs.
  </p>
  
  <p>
    Discussion threads at <%= external_link_to "Student Doctor Network", @sdn %>: 
  </p>
  
  <ul>
    <%= render partial: 'site', collection: @study_strategy %>
  </ul>
  
  <br/>
  
  <p> 
    Pediatric board commercial prep courses:
  </p>
  
  <p class="disclaimer"> 
  I don't have any experience with these products and do not endorse any
  particular product
  </p>
  
  <ul>
    <%= render partial: 'site', collection: @commercial_courses %>
  </ul>
  
</div>

