<% title "PONV"%>

<div class = "tmcponv">
  <h1> Consensus Guidelines for the Management of PONV </h1>
  <h2> Adapted from <%= external_link_to "TJ Gan et al. Anesthesia & Analgesia 2014;118(1):85-113", @gan %> </h2>
  
  <div class = "boxed">    
    <%= form_tag('/ponv', method: :get) %>  
    
    <h1>
      <%= check_box_tag 'gender_checkbox',    '1', (params[:gender_checkbox]  == '1') %>    Female Gender <br>
      <%= check_box_tag 'smoke_checkbox',     '1', (params[:smoke_checkbox]   == '1') %>    Non-Smoker<br>
      <%= check_box_tag 'history_checkbox',   '1', (params[:history_checkbox] == '1') %>    History of PONV<br>
      <%= check_box_tag 'opioids_checkbox',   '1', (params[:opioids_checkbox] == '1') %>    Postoperative Opioids</h1>

    <h4>
      <button type="submit" class="btn btn-danger btn-lg">Get Score</button> 
      Apfel Simplified Risk Score: <strong><%= @score %></strong>
    </h4>
    
    <h4>
      <%= link_to "Reset", "/ponv", class: "btn btn-primary btn-lg" %>
    
      <% if @score == 0 %>
        PONV Risk = 10% 
      <% elsif @score == 1 %>
        PONV Risk = 20% 
      <% elsif @score == 2 %>
        PONV Risk = 40% 
      <% elsif @score == 3 %>
        PONV Risk = 60% 
      <% else %>
        PONV Risk = 80% 
      <% end %>
    <h4>  
  </div>  
      
  <hr>
    <%= image_tag("Guideline2b.png", width:"50%") %>
  <hr>

  <h1>
    <% if @score == 0 || @score == 1%>
      Low Risk: Prophylaxis may not be indicated
      <p><%= image_tag("Guideline3b.png", width:"80%") %></p>
      <p><%= image_tag("Guideline4L.png", width:"80%") %></p>
    <% elsif @score == 2 || @score == 3%>
      Moderate Risk: Administer Prophylaxis Using 1 - 2 Interventions
      <p><%= image_tag("Guideline3b.png", width:"80%") %></p>
      <p><%= image_tag("Guideline4M.png", width:"80%") %></p>
    <% else %>
      High Risk: Adminster Prophylaxis With Combination (&ge;2) Interventions / Multimodal Therapy
      <p><%= image_tag("Guideline3b.png", width:"80%") %> </p>
      <p><%= image_tag("Guideline4H.png", width:"80%") %></p>
    <% end %>
  </h1>  
    <h1>If prophylaxis fails use antiemetic from different class than prophylactic drug.</h1>
    <h1>Readminister only if >6 hours after PACU.</h1>
    <h1>Do not readminister dexamethasone or scopoloamine.</h1>
   
                  
</div>