<% title "Tools" %>
<%= render 'layouts/subheader' %>

<div class="tools">
  <div class="row">
    <div class="col-xs-6">
      <h1> BLS / ACLS (2015)</h1>
      <ul><%= render partial: "tool", collection: @acls_algos %></ul>
      <h1>PALS (2015)</h1>
      <ul><%= render partial: "tool", collection: @pals_algos %></ul>
      <h1>Critical Events</h1>
      <ul><%= render partial: "tool", collection: @critical_events %></ul>
      <h1>Anatomy</h1>
      <ul><%= render partial: "tool", collection: @anatomy %></ul>
    </div>
    <div class="col-xs-6">
      <h1>Clinical Calculators</h1>
      <ul><%= render partial: "tool", collection: @calculators %></ul>
      <h1>Guidelines</h1>
      <ul><%= render partial: "tool", collection: @guidelines %></ul>
      <h1>Drugs</h1>
      <ul><%= render partial: "tool", collection: @drug_dosing %></ul>
    </div>  
  </row>  
</div>  