<% title "Tools" %>

<div class = "tools">
  <dl><p></p>
    <div id = "left_column">
      <dt id="BLS"> BLS Algorithm</dt>
      <%= render partial: "tool", collection: @bls_algos %>
      <br/>

      <dt id="ACLS"> ACLS algorithms</dt>
      <%= render partial: "tool", collection: @acls_algos %>
      <br/>

      <dt id="PALS"> PALS algorithms</dt>
      <%= render partial: "tool", collection: @pals_algos %>
      <br/>

      <dt id="Critical"> Critical Events </dt>
      <%= render partial: "tool", collection: @critical_events %>
      <br/>
    </div>

    <div id = "right_column">
      <dt id="CV"> Guidelines</dt>
      <%= render partial: "tool", collection: @guidelines %>
      <br/>

      <dt id="Dosing"> Drug dosing</dt>
      <%= render partial: "tool", collection: @drug_dosing %>
      <br/>

      <dt id="Calc"> Clinical calculators</dt>
      <%= render partial: "tool", collection: @calculators %>
      <br/>

      <!--    <dt id="Block"> Regional block videos</dt>
          <dd><a href='http://youtu.be/XfRLiny_D8E'> US Pediatric TAP </a></dd>
      </br> -->

      <dt id="Procedure"> Procedure videos</dt>
      <%= render partial: "tool", collection: @procedure_videos %>
    </dl>
  </div>
</div>

