- title "Tools"
.tools
  %dl
    #left_column
      %dt#ACLS BLS / ACLS
      = render partial: "tool", collection: @acls_algos
      %br/

      %dt#PALS PALS
      = render partial: "tool", collection: @pals_algos
      %br/

      %dt#Critical Critical Events
      = render partial: "tool", collection: @critical_events
      %br/

    #right_column
      %dt#Calc Clinical Calculators
      = render partial: "tool", collection: @calculators
      %br/
	  
      %dt#CV Guidelines
      = render partial: "tool", collection: @guidelines
      %br/

      %dt#Dosing Drugs
      = render partial: "tool", collection: @drug_dosing
      %br/
 
