<% title "BASIC and ADVANCED exams" %>

<h1> <%= yield(:title) %> </h1>
<h1 class="sub"> part 1  / written boards </h1>
<hr>

<div class='exams'>
  <p>
    The ABA has phased out the traditional <%= external_link_to *@part1 %> written exam. 
    Residents now take the <%= external_link_to *@staged %> and the annual <%= external_link_to *@ite %>
  </p>
  
  <p>
  The released <%= external_link_to *@old_aba_exams %>, categorized into BASIC/ADVANCED may be searched:
  </p>

  <div class="center">
    <form accept-charset="UTF-8" action="/questions" method="get" name="commit" class="form-inline">
      
      <div class="row">   
        <div class="checkbox">
          Stems              <%= check_box_tag 'stems_checkbox',   '1', true %><br/>
          Answer Choices     <%= check_box_tag 'choices_checkbox', '1', true %>
        </div>
      
        <div class="form-group">
          <input type="search" name="search" class="input-large" id="search" placeholder="Search">
        </div>
      
        <div class="checkbox">
          <div class="shufflebox">
            <%= check_box_tag 'shuffle_checkbox', '1', true %> Shuffle
          </div>
        </div>
      </div>
    
        <br><br>
      
      <div class="row"> 
        <select class="form-control" name="exam" id="exam">
          <option value="4">BASIC & ADVANCED</option>
          <option value="1">BASIC</option>
          <option value="2">ADVANCED</option>
          <option value="3">Uncategorized</option>
        </select>

        <select class="form-control" name="topic_id" id="topic_id">
          <option value="11">All Topics</option>
          <option value="1">Equipment & Physics</option>
          <option value="2">Respiratory & Critical Care</option>
          <option value="3">Pharmacology & Pharmacokinetics</option>
          <option value="4">Transfusions & Fluids</option>
          <option value="5">General</option>
          <option value="6">Pediatric</option>
          <option value="7">OB</option>
          <option value="8">Neuro</option>
          <option value="9">Cardiac</option>
          <option value="10">Regional & Pain</option>
        </select> 
      </div>    
    
      <div class="row">
        <button type="submit" style="margin:1em" class="btn btn-danger btn-lg">Search the Questions</button>
        <%= link_to "10 Random Questions", "/questions/random", class: "btn btn-primary btn-lg" %>
      </div>
    </form>
  
    <p class="disclaimer">
      &copy; Joint Council on In-Training Examinations, American Board of
      Anesthesiology, American Society of Anesthesiologists
    </p>
    <br><br>
  </div>
  
  <p>  
    The <%= external_link_to *@basic %> exam launched in July 2014 and is offered twice a year in June and November. To be eligible for the June exam, one must have completed 6 months of CA-1 training by March 31. 
  </p>
  
  <%= image_tag("BasicStats.png") %>
  <%= image_tag("BASICResults716.png") %>

  <p>
    The <%= external_link_to *@advanced %> exam launched in July 2016 and is offered twice a year in January and July. To be eligible for the July exam, one must have completed 6 months of CA-3 training by March 31. 
  </p>

  <%= image_tag("Part1Results.png") %>
  <%= image_tag("ADVResults716.png") %>

  <p>
    BASIC exam <%= external_link_to *@contentoutline %>, <%= external_link_to *@basicblueprint %>, and <%= external_link_to *@basicq %>
  </p>
  
  <p>
    ADVANCED exam <%= external_link_to *@contentoutline %>, <%= external_link_to *@advancedblueprint %>, and <%= external_link_to *@advancedq %>
  </p>
  
  <p>
    2014 - 2016 <%= external_link_to *@gaps %> reports and keywords explained 
    (<%= external_link_to *@gap2014 %>, <%= external_link_to *@gap2015 %>, <%= external_link_to *@gap2016 %>) by Randy Schell
  </p>

  <p>
    An extensive list of keywords can be found at <%= external_link_to *@open_anesthesia_keywords %>
  </p>
  
  <p>
    The University of Kentucky department of anesthesia <%= external_link_to *@kentucky_keywords2016 %> and <%= external_link_to *@kentucky_keywords2017 %>
  </p>
  
  <p>
    Jed Wolpaw's outstanding board review podcast <%= external_link_to *@accrac %>
  </p>
  
  <p>
    <%= external_link_to *@xi %>'s thorough blog post  <%= external_link_to *@xibasic %> 
  </p>
  
  <p>
    Jeff Steiner's board preparation <%= external_link_to *@steinerarticles %>
  </p>
  
  <p>
    Anesthesia related <%= external_link_to *@quizzes %>
  </p>
    
  <p>
    My own anesthesia math review <%= external_link_to "Problem Set", @mathps %> and <%= external_link_to "Solutions", @mathsol %>
  </p>
  
  <p>
    Board review <%= external_link_to "books", category_resources_path("Written Board") %>
  </p>

  <p>
    Information about the British <%= external_link_to "FRCA examination", @frca %> and a site devoted to it 
    from the <%= external_link_to "Northern Ireland School of Anaesthesia", @nisoa %>
  </p>
  
  <p>
    <%= external_link_to "Propofology Video Course", @propvideocourse %>  in anaesthesia for the Primary FRCA ($) 
  </p>

  <p>
  Discussion threads at <%= external_link_to "Student Doctor Network", @sdn %>: 
  </p>
  
  <h2>BASIC</h2>
    <ul>
      <%= render partial: 'site', collection: @study_strategy_basic %>
    </ul>
  <h2>ADVANCED </h2>
    <ul>
      <%= render partial: 'site', collection: @study_strategy_adv %>
    </ul>
  <h2>PART I</h2>
    <ul>
      <%= render partial: 'site', collection: @study_strategy_p1 %>
    </ul>  
  <h2>ITE</h2>
    <ul>
      <%= render partial: 'site', collection: @study_strategy_ite %>
    </ul>
  <br>
    
  <p> Written board commercial prep courses:</p>
  
  <p class="disclaimer">
    I don't have any experience with these products and do not endorse any
    particular product
  </p>
  
  <ul>
    <%= render partial: 'site', collection: @commercial_courses %>
  </ul>
  
</div>
