<% title "Clinical Informatics Exam Glossary" %>
<div class = "sites">
  <h1> <%= yield(:title) %> </h1>
</div>

<div class = "informatics">
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li><%= link_to 'Fundamentals', { 'data-toggle' => 'tab', 'section_id' => '1'} %></li>
    <li><%= link_to 'Decision Making', { 'data-toggle' => 'tab', 'section_id' => '2'} %></li>
    <li><%= link_to 'HIS', { 'data-toggle' => 'tab', 'section_id' => '3'} %></li>
    <li><%= link_to 'Leading Change', { 'data-toggle' => 'tab', 'section_id' => '4'} %></li>
  </ul>

  <table>
    <tbody>
      <div class="tab-content">
      <div id="fund" class="tab-pane fade in active">
    
        <% @informatics.each do |i| %>
        <tr>
          <td><%= i.section %></td>
          <td><%= i.topic %></td>
          <td style="text-align:center"><%= i.acronym %></style></td>
          <td><%= i.information %></td>
        </tr>
        <%end%>
    </tbody>
  </table>
  
</div>

<!--
<div>
  <h2 style = "font-size: 2em">Import a CSV File</h2>
    <%= form_tag import_informatics_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
</div>
-->
  