<% title "Lectures" %>
<div class = "sites">
  <h1> <%= yield(:title) %> </h1>
</div>

<div class="graphics">
  <form accept-charset="UTF-8" action="/lectures" method="get" name="commit" class="form-inline">
    <div class="form-group">
    <input type="search" name="search" class="input-large" id="search" placeholder="Search">
    </div>
     <button type="submit" style="margin:1em" class="btn btn-primary ">Search the Lectures</button>
     <%= link_to "All Lectures", "/lectures", class: "btn btn-danger " %>
  </form>
</div>
<br>

  <table class="pretty">
    <thead>
      <tr>
   <!-- <th><%= sortable "Id" %></th> -->
        <th><%= sortable  "speaker" %></th>
        <th><%= sortable  "title" %></th>
   <!-- <th><%= sortable  "Institution" %></th> -->
        <th><%= sortable  "date" %></th> 
        <th><%= sortable  "topic" %></th>
      </tr>         
    </thead>
    <tbody>
      <% @lectures.each do |lecture| %>
        <tr>
      <!--<td><%= lecture.id %></td>-->
          <td><%= lecture.speaker %></td>
          <td><%= external_link_to lecture.title, lecture.link %></td>
     <!-- <td><%= lecture.institution %></td> -->
          <td><%= lecture.date.strftime("%_m/%-d/%y") if lecture.date %></td> 
          <td><%= lecture.topic %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<!--
<div>
  <h2 style = "font-size: 2em">Import a CSV File</h2>
    <%= form_tag import_lectures_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
</div>
-->