<% title "Airway Management" %>
<div class = "sites">
  <h1> <%= yield(:title) %> </h1>
</div>

<div class="movies">
  <div class="panel-group" id="accordion"> 
    <div class="panel panel-info"> 
      <div class="panel-heading"> 
        <h3 class="panel-title">
          <a href='#airway' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
            Airway Management Videos
          </a>
        </h3>
      </div>
  
      <div id="airway" class="panel-collapse collapse"> 
        <div class="panel-body">
          <div class="panel-group" id="accordion-airway">

            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#mask' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-airway">
                    Mask Ventilation
                  </a>
                </h4>
              </div>

              <div id="mask" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @mask.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#intubation-adult' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-airway">
                    Direct Laryngoscopy / Endotracheal Intubation
                  </a>
                </h4>
              </div>

              <div id="intubation-adult" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @intubation_adult.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>         
            </div>
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#intubation-video' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-airway">
                    Video Laryngoscopy
                  </a>
                </h4>
              </div>

              <div id="intubation-video" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @intubation_video.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#fiberoptic' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-airway">
                    Fiberoptic Intubation
                  </a>
                </h4>
              </div>

              <div id="fiberoptic" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @fiberoptic.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div>
          
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#intubation-pediatric' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-airway">
                    Pediatric Intubation 
                  </a>
                </h4>
              </div>

              <div id="intubation-pediatric" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @intubation_pediatric.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#olv' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-airway">
                    One Lung Ventilation
                  </a>
                </h4>
              </div>

              <div id="olv" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @olv.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div> 
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#advanced' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-airway">
                    Alternative Approaches to Intubation
                  </a>
                </h4>
              </div>

              <div id="advanced" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @advanced_airway.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#cric' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-airway">
                    Cricothyroidotomy
                  </a>
                </h4>
              </div>

              <div id="cric" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @cric.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div> 
          </div>        
        </div>    
      </div>
    </div>
  </div>  
</div>


<div class = "sites">
  <% @sites = Site.where(category: "education-airway").by_title %>
  <%= render 'layouts/sites' %>
</div>