<% title "Regional Anesthesia" %>
<div class = "sites">
  <h1> <%= yield(:title) %> </h1>
  <hr>
</div>

<div class="informatics">
  <div class="panel-group" id="accordion"> 
    <div class="panel panel-default"> 
      <div class="panel-heading"> 
        <h4 class="panel-title">
          <a href='#pnb' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
            Peripheral Nerve Block Videos
          </a>
        </h3>
      </div>
  
      <div id="pnb" class="panel-collapse collapse"> 
        <div class="panel-body">
          <div class="panel-group" id="accordion-pnb">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#interscalene' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Interscalene
                  </a>
                </h4>
              </div>

              <div id="interscalene" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @interscalene.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>         
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#supraclavicular' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Supraclavicular
                  </a>
                </h4>
              </div>

              <div id="supraclavicular" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @supraclavicular.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#infraclavicular' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Infraclavicular
                  </a>
                </h4>
              </div>

              <div id="infraclavicular" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @infraclavicular.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#axillary' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Axillary
                  </a>
                </h4>
              </div>

              <div id="axillary" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @axillary.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#femoral' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Femoral
                  </a>
                </h4>
              </div>

              <div id="femoral" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @femoral.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#sciatic' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Sciatic
                  </a>
                </h4>
              </div>

              <div id="sciatic" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @sciatic.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#lumbar_plexus' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Lumbar Plexus
                  </a>
                </h4>
              </div>

              <div id="lumbar_plexus" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @lumbar_plexus.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div>      
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#abdominal' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Abdominal
                  </a>
                </h4>
              </div>

              <div id="abdominal" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @abdominal.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#pediatric' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-pnb">
                    Pediatric
                  </a>
                </h4>
              </div>

              <div id="pediatric" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @pediatric_block.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div>
          </div>
        </div>
      </div>  
    </div>       
          
    <div class="panel panel-default"> 
      <div class="panel-heading"> 
        <h4 class="panel-title">
          <a href='#neuraxial' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
            Neuraxial Block Videos
          </a>
        </h3>
      </div>

      <div id="neuraxial" class="panel-collapse collapse"> 
        <div class="panel-body">
          <div class="panel-group" id="accordion-neuraxial">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#spinal' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-neuraxial">
                    Spinal
                  </a>
                </h4>
              </div>

              <div id="spinal" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @spinal.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>         
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href='#epidural' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-neuraxial">
                    Epidural
                  </a>
                </h4>
              </div>

              <div id="epidural" class="panel-collapse collapse">
                <div class="panel-body">
                  <% @epidural.each do |movie| %> 
                  <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                  <% end %>
                </div>
              </div>        
            </div>
             
             <div class="panel panel-default">
               <div class="panel-heading">
                 <h4 class="panel-title">
                   <a href='#paravertebral' class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-neuraxial">
                     Paravertebral
                   </a>
                 </h4>
               </div>

               <div id="paravertebral" class="panel-collapse collapse">
                 <div class="panel-body">
                   <% @paravertebral.each do |movie| %> 
                   <a href="<%= movie.url %>" target = "_blank" class="btn btn-primary btn-block" role="button"><%= movie.title %></a>
                   <% end %>
                 </div>
               </div>        
             </div>    
          </div>
        </div>
      </div>  
    </div>
  </div>  
</div>


  
<div class = "sites">
  <h1 class='sub'> recommended sites : <button class="btn btn-default btn-rec btn-demo" role="button"> </h1>
  <% @sites = Site.where(category: "education-regional").by_title %>
  <%= render 'layouts/sites' %>
</div>
