<% title "Residencies" %>
<div class = "sites">
  <h1> <%= yield(:title) %> </h1>
</div>

  <table class="pretty">
    <thead>
      <tr>
   <!-- <th><%= sortable_b "Id" %></th> -->
        <th><%= sortable_b  "state" %></th>
        <th><%= sortable_b  "program" %></th>
      </tr>         
    </thead>
    <tbody>
      <% @residencies.each do |residency| %>
        <tr>
          <td><%= residency.state %></td>
          <td><%= external_link_to residency.program, residency.website %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<!--
<div>
  <h2 style = "font-size: 2em">Import a CSV File</h2>
    <%= form_tag import_residencies_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
</div>
-->