<h1><a href = /resources>Resources</a></h1>

<p><a href= /resources/review_textbooks>
Review textbooks</a>
</p>

<p><a href= /resources/concise_textbooks>
Concise textbooks</a>
</p>

<p><a href= /resources/reference_textbooks>
Reference textbooks</a>
</p>

<p><a href= /resources/qanda_textbooks>
Q&A textbooks</a>
</p>

<p><a href= /resources/case-based_textbooks>
Case-based textbooks</a>
</p>

<p><a href= /resources/websites>
Websites</a>


<h1><%=params[:category] %>s</h1>
<table>
    <% @resources.each do |resource| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
		  <td>
			  <%= image_tag(resource.image_url, class: 'list_image') %>
		  </td>
		  <td class="list_description">
			  <dl> 
				  <a href="<%= resource.link %>">
				  <dt><%= resource.title %></a></dt>
				  <dd style="font-size: x-small; font-weight: bold">
					  latest edition: <%= resource.edition %> (<%= resource.year%>)</dd>
				  <dd style="font-size: x-small; font-style: italic">
					  category: <%= resource.category %> </dd><br/>
				  <dd><%= resource.authors %></dd><br/>
				  <dd><%= resource.description %></dd>
			  </dl>
		  </td>
		  
		  <td class="list_actions">
        	  <%= link_to 'Show', resource %><br/>
        	  <%= link_to 'Edit', edit_resource_path(resource) %><br/>
        	  <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %>
      	  </td>
	  </tr>
    <% end %>
    </table>
    <br />

<%= link_to 'New Resource', new_resource_path %>