<% title "Books" %>
<%= render 'layouts/subheader' %>

<div class="resources">
  <table>
    <% @resources.each do |resource| %>
      <tr>
        <td>
          <%= external_link_to image_tag(resource.image_url), resource.link %>
        </td>
        
        <td>
          <dt>
            <%= external_link_to resource.title, resource.link %>
          </dt>
          <dd>
            <%= resource.authors %>
          </dd>
          <dd class="bold">
            Edition <%= "#{resource.edition} (#{resource.year})" %>
          </dd>
          <dd class="description">
            <%= resource.description %>
          </dd>
        </td>
        
        <td>
          <dd>
            <%= render partial: "category", collection: resource.categories   %>
          </dd>
        </td>

<!--        
		    <td class = "list_actions">
          <%= external_link_to 'Show', resource %>
          <%= external_link_to 'Edit', edit_resource_path(resource) %>
          <%= external_link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %>
          <br>
          <%= external_link_to 'New', new_resource_path %>
		    </td>
-->        
	 
      </tr>
    <% end %>
  </table>
</div>

