<h1></h1>
<table>
    <% @resources.each do |resource| %>
	<tr><td>
			  <%= image_tag(resource.image_url) %>
		  </td><td class = "list_description">
				  <dt><a href="<%= resource.link %>">
				  <%= resource.title %></a></dt>
				  <dd><%= resource.authors %></dd> 
				  <dd>Edition <%= resource.edition %> (<%= resource.year%>)</dd>
				  <dd><%= resource.description %></dd>	  
			  </td>
			  <!--
		  <td class="list_actions">
        	  <%= link_to 'Show', resource %><br/>
        	  <%= link_to 'Edit', edit_resource_path(resource) %><br/>
        	  <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %>
      	  </td> -->
	  </tr>
    <% end %>
    </table>
 
	<!--
<%= link_to 'New Resource', new_resource_path %> -->