<h1></h1>
<table>
    <% @resources.each do |resource| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
		  <td>
			  <%= image_tag(resource.image_url, class: 'list_image') %>
		  </td>
		  <td class="list_description">
			  <dl> 
				  <a href="<%= resource.link %>">
				  <dt><%= resource.title %></a></dt>
				  <dd><%= resource.authors %></dd>
				  
			<% unless resource.category == "Website" %>	  
				  <dd style="font-size: x-small; font-weight: bold">
					  Edition: <%= resource.edition %> (<%= resource.year%>)</dd></br>
			<% end %>		    
				  <dd><%= resource.description %></dd>
			  </dl>
		  </td>
		  
		  <td class="list_actions">
        	  <%= link_to 'Show', resource %><br/>
        	  <%= link_to 'Edit', edit_resource_path(resource) %><br/>
        	  <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %>
      	  </td>
	  </tr>
    <% end %>
    </table>
    <br />

<%= link_to 'New Resource', new_resource_path %>