<% title "Books" %>

<div class = "resources">
  <table>
    <% @resources.each do |resource| %>
      <tr>
      <td>
        <%= external_link_to image_tag(resource.image_url), resource.link %>
      </td>
      <td class = "list_description">
        <dt>
        <%= external_link_to resource.title, resource.link %>
        </dt>
        <dd><%= resource.authors %></dd>
        <dd><%= category_labels resource.categories %></dd>
        <dd span class="bold">Edition <%= resource.edition %> (<%= resource.year%>)</dd></br>
        <dd style = "font-size: 1.2em"><%= resource.description %></dd>
      </td>
      <!--
      <td class="list_actions">
            <%= link_to 'Show', resource %><br/>
            <%= link_to 'Edit', edit_resource_path(resource) %><br/>
            <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
      -->
    </tr>
  <% end %>
  </table>
</div>

<!--
<%= link_to 'New Resource', new_resource_path %> -->
