<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @resource.authors %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @resource.image_url %>
</p>

<p>
  <strong>Link:</strong>
  <%= @resource.link %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
