<p id="notice"><%= notice %></p>
<div class = "resources">
<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @resource.edition %>
</p>

<p>
  <strong>Year:</strong>
  <%= @resource.year %>
</p>

<p>
  <strong>Category:</strong>
  <%= @resource.category %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @resource.authors %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @resource.image_url %>
</p>

<p>
  <strong>Link:</strong>
  <%= @resource.link %>
</p>
</div>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
