<div class = "jewels">
  <% title jewel_collection_title(params[:collection]) %>
  <h1><%= yield(:title) %> COLLECTION </h1>
  
  <% @jewels.in_groups_of(4, false).each do |group| %> 
    <div class='row'>   
      <% group.each do |jewel| %>
        <div class='col-xs-3'>         
          <%= image_tag(jewel.image, width: "100%") %>
          <hr></hr>
          <strong> <%= jewel.sku %> </strong> <br>
          <strong><%= jewel.price %> </strong>
          <h4><%= jewel.name %></h4>           
        </div>
      <% end %>
    </div>
  <% end %>
  <h1></h1>
  <div class = "center">
    <%= link_to 'BAUBLE', jewels_path(:collection => "bauble") %> | 
    <%= link_to 'CALI', jewels_path(:collection => "cali") %> |
    <%= link_to 'SURF', jewels_path(:collection => "surf") %> |
    <%= link_to 'OCEANIA', jewels_path(:collection => "oceania") %> |
    <%= link_to 'FACETS', jewels_path(:collection => "facets") %>
  </div>
</div>

<!--
<div>
  <h2 style = "font-size: 2em">Import a CSV File</h2>
    <%= form_tag import_jewels_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
</div>
-->