<%= form_for(@site) do |f| %>
  <%= old_style_error_div @site %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>  
  <div class="field">
    <%= f.label :category %><br>
    <%= f.radio_button :category, 'education' %>         Miscellaneous <br/>
    <%= f.radio_button :category, 'icu' %>               ICU <br/>
    <%= f.radio_button :category, 'education-video' %>   Video <br/>
    <%= f.radio_button :category, 'education-airway' %>  Airway Mgmt <br/>
    <%= f.radio_button :category, 'education-regional' %> Regional Anes <br/>
    <%= f.radio_button :category, 'society-us' %>        US Society <br/>
    <%= f.radio_button :category, 'society-state' %>     State Society <br/>
    <%= f.radio_button :category, 'society-intl' %>      International Society <br/>
    <%= f.radio_button :category, 'society-pedi' %>      Pediatric Society <br/>
    <%= f.radio_button :category, 'society-pain' %>      Pain Society <br/>
    <%= f.radio_button :category, 'society-crna' %>      CRNA Society <br/>
    <%= f.radio_button :category, 'journal' %>           Journal <br/>  
    <%= f.radio_button :category, 'blog' %>              Blog <br/>
  </div>  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
