<div class = "sites">
  <% title site_category_title(params[:category]) %>
  <h1><%= yield(:title) %></h1>

  <ul>
    <% @sites.each do |site| %>
      <li><%= external_link_to site.title, site.link %></li>

      <!--
      <div class="list_actions">
        <%= link_to 'Show', site %>
        <%= link_to 'Edit', edit_site_path(site) %>
        <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      -->
    <% end %>
    <!--
    <div class="new_site">
      <%= link_to 'New Site', new_site_path %>
    </div>
    -->
  </ul>
</div>
