<div class = "sites">
	
	<% if params[:category] == "education"%><h1> Anesthesiology Education </h1><% end %>
	<% if params[:category] == "writtenboards"%><h1> Written Board Resources </h1><% end %>
	<% if params[:category] == "oralboards"%><h1> Oral Board Resources </h1><% end %>
	<% if params[:category] == "journal"%><h1> Anesthesiology Journals </h1><% end %>
	<% if params[:category] == "blog"%><h1> Anesthesiology Blogs </h1><% end %>
	<% if params[:category] == "society-us"%><h1> US Anesthesiology Societies </h1><% end %>
	<% if params[:category] == "society-state"%><h1> State Anesthesiology Societies </h1><% end %>
	<% if params[:category] == "society-intl"%><h1> Intl. Anesthesiology Societies </h1><% end %>
	<% if params[:category] == "society-pain"%><h1> Regional Anesthesia & Pain Societies </h1><% end %>
	<% if params[:category] == "society-crna"%><h1> Nurse Anesthesia Societies </h1><% end %>

	<% if params[:category] == "oralboards" %>
	<%= render 'orals' %>
	<% end %>
	
	<% if params[:category] == "writtenboards" %>
	<%= render 'writtens' %>
	<% end %>

<ul>
	  <% @sites.each do |site| %>
	  <li><a href="<%= site.link %>"><%= site.title %></a></li>

	  <!--
	  <div class="list_actions">
        <%= link_to 'Show', site %>
        <%= link_to 'Edit', edit_site_path(site) %>
        <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  -->

    <% end %>

	<!--
	<div class="new_site">
<%= link_to 'New Site', new_site_path %> 
    </div>
		-->
</ul>



</div>