<p></p>
<table>
    <% @sites.each do |site| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
		  <td class="list_description">
			  <dl> 
				  <a href="<%= site.link %>">
				  <dt><%= site.title %></a></dt>
				  <dd style="font-size: x-small; font-weight: bold"><%= site.authors %></a></dd></br>  
				  <dd><%= site.description %></dd></br>
				  <dd><%= site.pricing %></dd>
			  </dl>
		  </td>
		  
		  <td class="list_actions">
        	  <%= link_to 'Show', site %><br/>
        	  <%= link_to 'Edit', edit_site_path(site) %><br/>
        	  <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %>
      	  </td>
	  </tr>
    <% end %>
    </table>
    <br />

<%= link_to 'New Site', new_site_path %>
