<table>
    <% @sites.each do |site| %>
	
  <tr>
	  <td>
		<dt><a href="<%= site.link %>"><%= site.title %></a></dt>
		<dd><%= site.authors %></a></dd> 
	  </td>

	  <td>
		<dd><%= site.description %></dd>
		<dd><%= site.pricing %></dd>
	  </td>
		  
	  <td class="list_actions">
        <%= link_to 'Show', site %>
        <%= link_to 'Edit', edit_site_path(site) %>
        <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
	  
  </tr>
    <% end %>
</table>

<%= link_to 'New Site', new_site_path %>
