<footer class="footer">

  <p style = "float: left; margin-left: 2em">
  <%= link_to "About", about_path %>
  &nbsp; | &nbsp;
  <%= link_to "Feedback", feedback_path %>
  </p>

  <p> &copy; 2013-2014 David Moss, MD <br><span style="float:right"> 
	  <%= image_tag("Twitter.png")%> <%= link_to "@anesthesiahub", "https://twitter.com/anesthesiahub" %> </span></p>
  
<!--
  <div class = "center">
    <%= external_link_to image_tag("SDN.jpg"), "http://www.studentdoctor.net/partners/site-partners/"  %>
  </div>
-->
  
</footer>

