<header>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav nav-justified">

          <li style= "font-family: 'belleza'; font-size: 1.5em; letter-spacing: 4px" class="<%= 'active' if current_page?("/") %>">
          <a href="/">HUB</a></li>

          <li class="<%= 'active' if current_page?("/tools?") %>">
          <a href="/tools?">           Tools          </a></li>
          <li class="dropdown <%= 'active' if current_page?("/categories/1/resources") ||
                                              current_page?("/categories/2/resources") ||
                                              current_page?("/categories/3/resources") ||
                                              current_page?("/categories/4/resources") ||
                                              current_page?("/categories/5/resources") ||
                                              current_page?("/categories/6/resources") ||
                                              current_page?("/categories/7/resources") ||
                                              current_page?("/categories/8/resources") ||
                                              current_page?("/categories/9/resources") ||
                                              current_page?("/resources") %>">
          <a href="#" data-toggle="dropdown">Books <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/categories/1/resources">         Reference   </a></li>
            <li><a href="/categories/2/resources">         Concise     </a></li>
            <li><a href="/categories/3/resources">         Case-based  </a></li>
            <li><a href="/categories/4/resources">         Pediatric   </a></li>
            <li><a href="/categories/5/resources">         Cardiac     </a></li>
            <li><a href="/categories/6/resources">         OB          </a></li>
            <li><a href="/categories/7/resources">         Handbooks   </a></li>
            <li class="divider"></li>
            <li><a href="/categories/8/resources">         Written Board </a></li>
            <li><a href="/categories/9/resources">         Oral Board   </a></li>
            <li class="divider"></li>
            <li><a href="/resources">            All books   </a></li>
          </ul>
          </li>

          <li class ="dropdown <%= 'active' if current_page?("/sites/writtenboards") || current_page?("/sites/oralboards") %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Exams <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/sites/writtenboards">      Writtens     </a></li>
            <li><a href="/sites/oralboards">         Orals        </a></li>
            <li><a href="/sites/pedsboards">         Pediatric    </a></li>
          </ul>

          <li class="dropdown <%= 'active' if current_page?("/sites/education") %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Education <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/sites/education/regional">   Regional Anesthesia    </a></li>
            <li><a href="/sites/education/video">      Videos           </a></li>
            <li><a href="/sites/education/simulation">   Simulation         </a></li>
            <li><a href="/sites/education">          Miscellaneous            </a></li>
          </ul>

          <li class="<%= 'active' if current_page?("/sites/journals") %>">
          <a href="/sites/journals">             Journals           </a></li>
          <li class ="dropdown <%= 'active' if current_page?("/sites/societies/us") || current_page?("/sites/societies/state") || current_page?("/sites/societies/intl") || current_page?("/sites/societies/crna") || current_page?("/sites/societies/pain") %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Societies <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/sites/societies/us">     American      </a></li>
            <li><a href="/sites/societies/state">      State         </a></li>
            <li><a href="/sites/societies/intl">     International </a></li>
            <li><a href="/sites/societies/pain">     Regional/Pain </a></li>
            <li><a href="/sites/societies/crna">       CRNA      </a></li>
          </ul>
          </li>

          <li class="<%= 'active' if current_page?("/sites/blogs") %>">
          <a href="/sites/blogs">          Blogs          </a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
