<% @sites.in_groups_of(4, false).each do |group| %> 
  <div class='row'>   
    <% group.each do |site| %>
      <div class='col-xs-3'>  
        
        <% if site.rec == '1'%>
          <a class="btn btn-default btn-rec" role="button" href="<%= site.link %>" target='_blank'> 
        <% else %>
          <a class="btn btn-default" role="button" href="<%= site.link %>" target='_blank'> 
        <% end %>    
          
        <% unless site.image.blank? %>
          <%= image_tag(site.image, width: "100%") %>
        <% else %>
          <%= site.title %>
        <% end %>   
        </a>
        <h3><%= site.description %></h3>

 <!--     
        <div class = "list_actions">
           <%= link_to 'New', new_site_path %>
           <%= link_to 'Show', site %>
           <%= link_to 'Edit', edit_site_path(site) %>
           <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>  
-->
            
      </div>
    <% end %>
  </div>
<% end %>
