<!DOCTYPE html>
<html>

<head>
  <title> Anesthesia Hub</title>
  <%= stylesheet_link_tag    "application", media: "all", 
  											"data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Belleza' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-46404458-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
</head>

 <%= render 'layouts/header' %>
 
<body>
	<div class="container">	
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>

</html>
