<!DOCTYPE html>
<html>

<head>
  <title> Anesthesia Hub</title>
  <%= stylesheet_link_tag    "application", media: "all", 
  											"data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Belleza' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

 <%= render 'layouts/header' %>
 
<body>
	<div class="container">	
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>

</html>
